
////.teste {
 //   background-color: var(--task-color); // Usando a variável CSS definida no JSX
 // }

.list{
    width: 100%;
    height: 100%;
}

.listName{
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    font-size: 2rem;
}

.listHeader{
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 1rem;
}

.icons{
    height: 1.5rem;
    display: flex;
    justify-content: flex-end;
    right: 0;
}
.icon{
    cursor: pointer;
    margin-top: -1rem;
    padding-right: 1rem;
}
.checkBox{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.itens{
    margin-bottom: 1rem;
    display: flex;
    height: 3rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* Esconde o checkbox original */
.checkmark {
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  appearance: none;  /* Esconde o estilo padrão do checkbox */
  background-color: #fff;
  cursor: pointer;
}

/* Estilo quando o checkbox é marcado */
.checkmark:checked {
  background-color: #4CAF50 !important;
  border-color: #4CAF50;
}

/* Criar o checkmark (marca de seleção) quando o checkbox é marcado */
.checkmark:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 8px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
