
.MainContainer{
    width: 100%;
    height: 100dvh;
}

.Body{
    display: flex;
    flex-wrap: wrap;
}

.listsContainer{
    flex: 1 0 340px;
    height: auto;
}

.tasksContainer{
    flex: 1 0 340px;
    height: auto;
    background-color: blue;
}